/.vs
/CodeNav/*.user
/CodeNav/bin
/CodeNav/obj
/packages
/Backup
/UpgradeLog.htm
/*.user
/CodeNav.Tests/bin
/CodeNav.Tests/obj
/CodeNav.Nunit/bin
/CodeNav.Nunit/obj
/CodeNav.Tests/*.user
/CodeNav.Tests/Files/.vs
/Visual Studio 2019
