<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="CodeNav.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <CodeNav.Properties.Settings>
            <setting name="Width" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="ShowConstants" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowConstructors" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowEnumItems" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowEvents" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowMethods" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowProperties" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowVariables" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowEnums" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowStructs" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowDelegates" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseLeftSide" serializeAs="String">
                <value>True</value>
            </setting>
        </CodeNav.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
